[Unit]
Description=Servlo MySQL
After=network.target

[Container]
Image=docker.io/library/mysql:8.0
ContainerName=servlo-mysql
Network=servlo
PublishPort=3306:3306
Volume=%h/.local/share/servlo/data/mysql:/var/lib/mysql
Environment=MYSQL_ROOT_PASSWORD=servlo
Environment=MYSQL_DATABASE=servlo

[Service]
Restart=always

[Install]
WantedBy=default.target
