[Unit]
Description=Servlo Meilisearch
After=network.target

[Container]
Image=docker.io/getmeili/meilisearch:v1.7
ContainerName=servlo-meilisearch
Network=servlo
PublishPort=7700:7700
Volume=%h/.local/share/servlo/data/meilisearch:/meili_data

[Service]
Restart=always

[Install]
WantedBy=default.target
